  <h1>ToDo List <span ng-class="vm.warnUser()"> {{vm.getNumOfTasks()}}</span></h1>


<table ng-hide="vm.selected">
<thead>
<tr>
<td><b>Task</b></td><td><b>Mark</b></td><td><b>Completed</b></td>
</tr>
</thead>
<tbody>
	<tr ng-class="items.completed ? ' strikethrough' : '' ; " ng-repeat="items in vm.todos | incomplete:vm.showComplete" >
		<td ng-click="vm.selectTodo(items)">{{items.task}}</td>
		<td> <input type="checkbox" ng-change="vm.updateTodo(items)" ng-model="item.complete"/></td>
		<td>{{items.completed}}</td>
		<td><button ng-click="vm.deleteTodo(items.id)">Delete</button></td>
	</tr>
</tbody>
</table>


<form ng-hide="vm.selected">
  <input type="text" placeholder="Task" ng-model="newTask.task"/><br />
  <input type="submit" value="Add Task" ng-click="vm.addTask(newTask); newTask = {}" />
</form>

<div ng-hide="vm.selected">
Show complete?
<input type="checkbox" ng-model="vm.showComplete">
</div>

<div ng-show="vm.selected && !vm.editTodo">
<h2>Task</h2>
<div>ID: "{{vm.selected.id}}"</div>
<div>Name: {{vm.selected.task}}</div>
<div>Description: {{vm.selected.description}}</div>
<div>Completed: {{vm.selected.completed}}</div>
<button ng-click="vm.setEditTodo()">Edit</button>
<button ng-click="vm.displayTable()">Return</button>
</div>

<form ng-show="vm.editTodo">
  <label>Name: </label><input type="text" ng-model="vm.editTodo.task"/><br />
  <label>Description: </label><input type="text" ng-model="vm.editTodo.description"/><br />
  <label>Completed: </label><input type="checkbox" ng-model="vm.editTodo.completed"/><br />
  <input type="submit" value="Cancel" ng-click="vm.editTodo = null" />
  <input type="submit" value="Save" ng-click="vm.updateTodo(vm.editTodo)" />
</form>
